/* Container styles */
.change-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 20px; /* Added padding for smaller screens */
}
.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input input {
  padding-right: 40px; /* Adjust padding to make space for the icon */
}

.visibility-icon {
  position: absolute;
  right: 10px; /* Position the icon inside the input */
  background: transparent; /* Remove background */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer */
}
/* Title styles */
.change-password-title {
  font-size: 36px;
  font-weight: 300;
  color: #333;
  margin-bottom: 20px;
}

/* Form styles */
.change-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Form group styles */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.form-group input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #4a90e2;
}

/* Button styles */
.submit-btn {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #4a90e2;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #357abd;
}

/* Responsive design */
@media (max-width: 768px) {
  .change-password-title {
      font-size: 28px;
  }

  .change-password-form {
      padding: 20px;
  }

  .form-group input {
      padding: 10px;
      font-size: 14px;
  }

  .submit-btn {
      padding: 10px;
      font-size: 14px;
  }
}

/* Extra responsiveness for very small screens */
@media (max-width: 480px) {
  .change-password-title {
      font-size: 24px; /* Smaller title */
  }

  .change-password-form {
      padding: 15px; /* Reduced padding */
      width: 90%; /* Full width on small devices */
  }

  .form-group input {
      font-size: 12px; /* Smaller input text */
      padding: 8px; /* Smaller padding */
  }

  .submit-btn {
      font-size: 12px; /* Smaller button text */
      padding: 8px; /* Smaller button padding */
  }
}